.body {background-color: #f4f3f0;}
.headerBackground{border: 4px solid #e48181;
	background-color: #f0c8c2;
	max-width: 100%;
}
.mainHeading {color: black;
  text-align: center;
  font-family: "Comic Sans MS,";
  font-weight: bold;
  text-decoration: underline;
 }
.title {
  color: black;
  text-align: left;
  font-family: "Comic Sans MS";
  font-weight: bold;
  text-decoration: underline;
}
#divLeft {
      width: 400px;
		   border: 3px 78756D;
		   float: left;
		   margin: 5px;
}

.paragraph {font-size: 20pt;
}
